@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: inter;
  font-size: 15px;
}

button {
  letter-spacing: 0.2rem;
}
